.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('../images/youtube-placeholder.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

a {
  text-decoration: underline;
}

.navbar {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
}

.brand {
  font-family: 'Josefin Sans', sans-serif;
}

.heading {
  font-family: 'Josefin Sans', sans-serif;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-size: 38px;
  line-height: 38px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.nav-link {
  margin-top: 7px;
  margin-bottom: 7px;
  color: #616161;
}

.nav-link-2 {
  margin-top: 7px;
  margin-bottom: 7px;
  -webkit-transition: color 350ms cubic-bezier(.645, .045, .355, 1);
  transition: color 350ms cubic-bezier(.645, .045, .355, 1);
  color: #333;
  font-weight: 600;
  letter-spacing: 0.015em;
}

.nav-link-2:hover {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 400;
}

.nav-link-2.w--current {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.nav-link-3 {
  margin-top: 7px;
  margin-bottom: 7px;
  -webkit-transition: color 350ms cubic-bezier(.645, .045, .355, 1);
  transition: color 350ms cubic-bezier(.645, .045, .355, 1);
  color: #333;
  font-weight: 600;
  letter-spacing: 0.015em;
}

.nav-link-3:hover {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.nav-link-4 {
  -webkit-transition: color 300ms cubic-bezier(.645, .045, .355, 1);
  transition: color 300ms cubic-bezier(.645, .045, .355, 1);
  color: #333;
  font-weight: 600;
  letter-spacing: 0.015em;
}

.nav-link-4:hover {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.nav-link-4:active {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.nav-link-4.w--current {
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  letter-spacing: 0.015em;
}

.nav-link-4.w--current:hover {
  border-bottom: 2px none hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  border-radius: 0px;
  font-weight: 400;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

.heading-2 {
  margin-top: 10px;
  padding-top: 0px;
  font-family: 'Josefin Sans', sans-serif;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-size: 42px;
  font-weight: 600;
}

.container {
  margin: 80px auto;
  padding-right: 0px;
}

.container.home-intro {
  margin-bottom: 80px;
}

.container.work-together {
  margin-top: 0px;
  margin-bottom: 0px;
}

.paragraph {
  max-width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #616161;
  font-weight: 400;
}

.paragraph-2 {
  color: #616161;
}

.div-block {
  max-width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #616161;
}

.paragraph-3 {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.015em;
}

.paragraph-4 {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.015em;
}

.projects {
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #fbf3f3;
}

.grid {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 600;
}

.paragraph-5 {
  color: #616161;
  letter-spacing: 0.015em;
}

.image {
  position: static;
}

.grid-2 {
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.link-block {
  width: 500px;
  height: 500px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-repeat: no-repeat;
}

.heading-4 {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 600;
}

.work {
  background-color: #fff;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.work-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.work-h3 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  font-family: 'Josefin Sans', sans-serif;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.work-p {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  color: #616161;
  letter-spacing: 0.015em;
}

.columns {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
}

.intro-box {
  width: 30%;
  margin-right: 3%;
  background-color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  box-shadow: 0 0 5px 2px rgba(55, 76, 159, .1);
}

.intro-box.no-border {
  margin-right: 0%;
}

.top-border._5 {
  margin-top: 5px;
}

.top-border._50 {
  margin-top: 50px;
}

.top-border._20 {
  margin-top: 20px;
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-center.bottom-row {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.image-hover {
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.image-hover:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.title-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  text-decoration: none;
}

.title-link:hover {
  opacity: 0.8;
}

.intro-text-box {
  padding: 23px;
  background-color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.relative {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-link {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.015em;
  text-decoration: none;
}

.title-link-2 {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-decoration: none;
}

.title-link-2:hover {
  opacity: 0.8;
}

.intro-text-box-2 {
  padding: 23px;
  background-color: #ceb3cb;
}

.text-link-2 {
  color: #fff;
  font-size: 19px;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
}

.container-2 {
  margin-top: -20px;
}

.container-3 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.heading-5 {
  font-family: 'Josefin Sans', sans-serif;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 600;
}

.button {
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: color 350ms cubic-bezier(.77, 0, .175, 1), background-color 350ms cubic-bezier(.77, 0, .175, 1);
  transition: color 350ms cubic-bezier(.77, 0, .175, 1), background-color 350ms cubic-bezier(.77, 0, .175, 1);
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  text-align: center;
  letter-spacing: 0.015em;
}

.button:hover {
  background-color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  color: #fff;
}

.button.getintouch {
  margin: 0px 40px 10px 0px;
}

.button.getintouch.bottom-buttons {
  margin-top: 20px;
}

.button.button-left {
  margin-left: 0px;
}

.section {
  margin-top: 40px;
  background-color: transparent;
}

.section.footer {
  margin-top: 20px;
}

.columns-2 {
  display: block;
  margin-right: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: none;
  border-width: 1px;
  border-color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.image-2 {
  margin-right: 5px;
  margin-left: 5px;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.image-3 {
  margin-right: 5px;
  margin-left: 5px;
}

.image-4 {
  margin-right: 5px;
  margin-left: 5px;
}

.image-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.div-block-4 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.image-6 {
  display: block;
}

.image-7 {
  position: static;
  display: block;
  margin: 25px auto;
  text-align: center;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blue-wiggle {
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.heading-6 {
  margin-top: -10px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #ccc;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.015px;
}

.div-block-5 {
  position: absolute;
  top: 633.55px;
  z-index: 999;
  width: 200px;
  height: 30px;
  float: left;
  clear: both;
  border-radius: 0px 2px 2px 0px;
  background-color: #fbf3f3;
  box-shadow: 3px 3px 4px 0 hsla(227.8846153846154, 48.60%, 41.96%, 0.30);
}

.div-block-5.coming-soon {
  position: relative;
  top: -180px;
  box-shadow: 3px 0 4px 0 hsla(227.8846153846154, 48.60%, 41.96%, 0.30);
}

.heading-7 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 600;
  letter-spacing: 0.02px;
  text-transform: uppercase;
}

.heading-7.coming-soon-text {
  letter-spacing: 0.3px;
}

.image-8 {
  position: relative;
  top: -50px;
  right: auto;
  display: block;
  float: right;
  clear: both;
  opacity: 1;
}

.image-9 {
  position: relative;
  top: -5px;
  right: 183px;
  display: block;
  float: right;
  clear: both;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.slide-nav {
  display: none;
}

.mini-title {
  margin-bottom: 10px;
  color: #b99bb6;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.mini-title.white {
  color: #fff;
}

.hero-text-box {
  position: absolute;
  top: 10%;
  right: 105px;
  bottom: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  height: 250px;
  max-width: 440px;
  margin-top: 61px;
  margin-right: 50px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(227.8846153846154, 48.60%, 41.96%, 0.80);
}

.bg-top {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 56%;
  background-color: #c9adc6;
}

.hero-section {
  position: relative;
  height: 100%;
  padding-top: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fbf3f3;
}

.hero-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.hero-image {
  position: relative;
  right: -65px;
  width: 70%;
  height: 675px;
  background-image: url('../images/noah-buscher-1118080-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image._2 {
  right: auto;
  background-image: url('../images/cushion.jpg');
}

.slide {
  margin-bottom: 70px;
}

.content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1265px;
  padding-right: 25px;
  padding-left: 25px;
}

.right-arrow {
  width: 50px;
  height: 50px;
  margin-bottom: 0px;
  background-color: #b08ead;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.right-arrow:hover {
  opacity: 0.8;
}

.h1-white {
  color: #fff;
  font-size: 45px;
  line-height: 55px;
}

.h1-white.white {
  color: #fff;
}

.left-arrow {
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  background-color: #a78ba4;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.left-arrow:hover {
  opacity: 0.8;
}

.arrow {
  margin-top: 14px;
  margin-bottom: 0px;
  font-size: 22px;
}

.bg-botttom {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 44%;
  background-color: #d6bbd3;
}

.text-link-3 {
  padding-bottom: 8px;
  border-bottom: 2px solid #fff;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 13.5px;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.text-link-3:hover {
  opacity: 0.8;
}

.image-10 {
  width: 500px;
  max-width: 500px;
  margin-left: 50px;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.pink-bg {
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fbf3f3;
}

.pink-bg.bottom-section {
  margin-bottom: 40px;
}

.grid-4 {
  display: -ms-grid;
  display: grid;
  float: none;
  clear: none;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.image-11 {
  width: 100%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.image-12 {
  width: 100%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.image-13 {
  position: static;
  display: block;
  width: 100%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.heading-8 {
  padding-right: 0px;
  padding-left: 50px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'Josefin Sans', sans-serif;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 600;
}

.body-2 {
  font-family: 'Open Sans', sans-serif;
  color: #616161;
  letter-spacing: 0.015px;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
  float: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 49px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #333;
  letter-spacing: 0.015em;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.whitebg {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.section-5 {
  margin-bottom: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fbf3f3;
}

.container-6 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.heading-9 {
  font-family: 'Josefin Sans', sans-serif;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 600;
}

.paragraph-6 {
  padding-right: 50px;
  color: #333;
  letter-spacing: 0.015em;
}

.paragraph-7 {
  padding-right: 50px;
  color: #333;
  letter-spacing: 0.015em;
}

.section-6 {
  margin-bottom: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fbf3f3;
}

.body-3 {
  font-family: 'Open Sans', sans-serif;
  color: #616161;
  letter-spacing: 0.015em;
}

.grid-5 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-6 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.image-14 {
  border-radius: 10px;
}

.image-15 {
  border-radius: 10px;
}

.image-16 {
  border-radius: 10px;
}

.image-17 {
  border-radius: 10px;
}

.image-18 {
  border-radius: 10px;
}

.image-19 {
  border-radius: 10px;
}

.image-20 {
  border-radius: 10px;
}

.image-21 {
  border-radius: 10px;
}

.image-22 {
  border-radius: 10px;
}

.image-23 {
  border-radius: 10px;
}

.image-24 {
  border-radius: 10px;
}

.image-25 {
  border-radius: 10px;
}

.image-26 {
  border-radius: 10px;
}

.image-27 {
  border-radius: 10px;
}

.image-28 {
  border-radius: 10px;
}

.image-29 {
  border-radius: 10px;
}

.lightbox-link {
  border-radius: 5px;
  box-shadow: 0 0 5px 2px hsla(227.8846153846154, 48.60%, 41.96%, 0.10);
}

.image-30 {
  border-radius: 10px;
}

.image-31 {
  border-radius: 10px;
}

.image-32 {
  border-radius: 10px;
}

.image-33 {
  border-radius: 10px;
}

.div-block-7 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.link {
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.link:active {
  color: #333;
}

.link.linkedin {
  clear: left;
  color: #007bb5;
}

.link.twitter {
  color: hsla(205.8823529411765, 81.82%, 63.33%, 1.00);
}

.link.dribbble {
  color: hsla(336.83544303797464, 79.00%, 60.78%, 1.00);
}

.articles {
  margin-bottom: 80px;
  padding-bottom: 50px;
}

.work-together {
  padding-top: 40px;
  padding-bottom: 40px;
}

.body-4 {
  font-family: 'Open Sans', sans-serif;
}

.signar-cover {
  margin-bottom: 40px;
}

.image-34 {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.body-5 {
  font-family: 'Open Sans', sans-serif;
}

.body-6 {
  font-family: 'Open Sans', sans-serif;
}

.case-study-text {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.paragraph-8 {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 23px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.015em;
}

.paragraph-8.list {
  margin-bottom: 15px;
  text-decoration: none;
}

.paragraph-8.quote {
  position: static;
  top: 15px;
  bottom: 20px;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  float: right;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.section-7 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.italic-text {
  font-style: normal;
  font-weight: 600;
}

.container-7 {
  margin-right: auto;
  margin-left: auto;
}

.case-study-img {
  display: block;
  margin: 0px auto 35px;
}

.grid-7 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-7.user-personas {
  margin-bottom: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-7.icon-steps {
  margin-bottom: 40px;
}

.grid-8 {
  margin-bottom: 15px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-9 {
  margin-bottom: 35px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link-2 {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.youtube {
  margin-bottom: 60px;
}

.youtube.last-video {
  margin-bottom: 0px;
}

.link-3 {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.grid-10 {
  margin-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.image-35 {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.quote-marks {
  position: absolute;
}

.image-36 {
  position: static;
  left: auto;
  top: -59px;
  z-index: 0;
  display: inline-block;
  float: left;
  clear: none;
  opacity: 0.3;
}

.user-quote {
  margin-top: 40px;
  margin-bottom: 40px;
}

.span-bold {
  font-weight: 600;
}

.heading-10 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.015em;
  text-decoration: none;
}

.heading-10:hover {
  font-weight: 600;
}

.heading-10:focus {
  font-weight: 600;
}

.case-study-nav {
  margin-right: 20px;
  margin-left: 20px;
  color: #333;
  text-decoration: none;
}

.case-study-nav:hover {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 600;
}

.case-study-nav:active {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.case-study-nav:focus {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 600;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.cs-nav-section {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999999;
  background-color: #fff;
  box-shadow: 0 6px 5px 0 hsla(227.8846153846154, 48.60%, 41.96%, 0.10);
}

.section-8 {
  z-index: 10;
  font-weight: 600;
}

.body-7 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.015em;
}

.body-8 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.015em;
}

.case-study-nav-2 {
  margin-right: 20px;
  margin-left: 20px;
  color: #333;
  text-decoration: none;
}

.case-study-nav-2:hover {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 600;
}

.case-study-nav-2:active {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.case-study-nav-2:focus {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 600;
}

.heading-11 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  font-weight: 600;
}

.link-4 {
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.link-4:hover {
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.link-4:active {
  color: #333;
}

.button-2 {
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: color 350ms cubic-bezier(.77, 0, .175, 1), background-color 350ms cubic-bezier(.77, 0, .175, 1);
  transition: color 350ms cubic-bezier(.77, 0, .175, 1), background-color 350ms cubic-bezier(.77, 0, .175, 1);
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  text-align: center;
  letter-spacing: 0.015em;
}

.button-2:hover {
  background-color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  color: #fff;
}

.button-2.getintouch {
  margin: 0px 40px 10px 0px;
}

.button-2.getintouch.bottom-buttons {
  margin-top: 20px;
}

.image-37 {
  margin-right: 5px;
  margin-left: 5px;
  color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.container-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: none;
  border-width: 1px;
  border-color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
}

.list-2 {
  font-size: 16px;
  line-height: 25px;
}

@media (max-width: 991px) {
  .hero-text-box {
    width: 45%;
    margin-right: 5%;
  }
  .hero-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .paragraph-8.quote {
    width: 80%;
  }
  .heading-10 {
    display: block;
  }
  .cs-nav-section {
    display: none;
  }
}

@media (max-width: 767px) {
  .paragraph {
    max-width: 80%;
  }
  .div-block {
    max-width: 80%;
  }
  .intro-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: hsla(227.8846153846154, 48.60%, 41.96%, 1.00);
  }
  .paragraph-8.quote {
    width: 75%;
  }
}

@media (max-width: 479px) {
  .paragraph {
    max-width: 100%;
  }
  .div-block {
    max-width: 100%;
  }
  .intro-box {
    width: auto;
    margin-right: 0%;
    margin-bottom: 9%;
  }
  .hero-text-box {
    position: relative;
    width: 100%;
    margin-top: 0px;
    margin-right: 0%;
    padding-left: 9%;
  }
  .hero-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-image {
    right: 0px;
    width: 100%;
  }
  .paragraph-8.quote {
    width: 100%;
  }
  .grid-7.user-personas {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .image-36 {
    display: none;
  }
}

#w-node-cbe2e0911f8e-e44bc20c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-e0e07eb0ee0e-e44bc20c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-e0e07eb0ee0e-e44bc20c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-f5cd41893a76-e44bc20c {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-f5cd41893a76-e44bc20c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-8872ce4e4484-e44bc20c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-550b2c1e7ffd-e44bc20c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ea23b94af0aa-e44bc20c {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-4567206815ed-e44bc20c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-afaf86eb7e27-e44bc20c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-39af8f538a40-e44bc20c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-2eb9ce7d59f1-e44bc20c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b13b68af49fb-e44bc20c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-537d71398b78-e44bc20c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-184e7b7b9041-e44bc20c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-3eb1dd1119ba-e44bc20c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-69fba1f7d839-e44bc20c {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-1af207abbd9b-e44bc20c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-5c5aac8824a8-e44bc20c {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-5285575364e6-e44bc20c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-8a70b2057cd8-e44bc20c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-b679b80cba8a-e44bc20c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-e1529a8cd51b-e44bc20c {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-e892e4967f89-f94344ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d5ca87e24e1f-f94344ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-9b4478e4a321-f94344ea {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-43a0dd4914dc-f94344ea {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-304e24fce366-f94344ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-3dda1bf25df2-f94344ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-c6c5cf7e9da9-f94344ea {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-d5fb901eb6d9-f94344ea {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-d47007ea3682-f94344ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-c17d72c7a2f6-f94344ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-322499b7cc0c-f94344ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-880aa7291560-f94344ea {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-92bc26c2c877-f94344ea {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-c93f0b80cd9b-f94344ea {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-c295c4022c2d-f94344ea {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-7fe141590be4-f94344ea {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-615f0dd477b1-f94344ea {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-6516319815b9-4e73d824 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-6516319815bb-4e73d824 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-6516319815bb-4e73d824 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-6516319815bd-4e73d824 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-6516319815bd-4e73d824 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-7941b2014f0c-4e73d824 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-7941b2014f0e-4e73d824 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-7941b2014f0e-4e73d824 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-7941b2014f10-4e73d824 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-7941b2014f10-4e73d824 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-8e3b32e687b7-7a8eb08f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-8e3b32e687b9-7a8eb08f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-8e3b32e687b9-7a8eb08f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-8e3b32e687bb-7a8eb08f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-8e3b32e687bb-7a8eb08f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-8e3b32e687c7-7a8eb08f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-8e3b32e687c9-7a8eb08f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-8e3b32e687c9-7a8eb08f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-8e3b32e687cb-7a8eb08f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-8e3b32e687cb-7a8eb08f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-fc261fcf9a47-7a8eb08f {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-fc261fcf9a47-7a8eb08f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

